.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}
ul { 
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 400px;
    height: 400px;
    background-color: dimgray;
    overflow-y: scroll;
    /* max-width: 800px; */
}
.App-header {
    /* background-color: #222; */
    padding: 20px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    height: min-content;
}

.App-header ul {
    height: min-content;
}

.App-header li {
    /* flex:row; */
    /* margin: 1em; */
    padding: 1em;
    height: min-content;
    background-color: #303030;
}
form { 
    max-width: 800px;
    display: flex;
}
input {
    flex-grow: 1;
}
p {
    padding-left: 5px;
    margin: 0;
}
.messageData {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: grey;
    color: black;
}
.messageData p:nth-of-type(2) {
    flex: 0 1 auto;
    /* position: absolute; */
}
.messageData p:nth-of-type(1) {
    width: 175px;
}
.messageData p:nth-of-type(3) {
    flex: 0 1 auto;
    width: 175px;

}
.username {
    color: purple;
}
.message {
    background-color: silver;
    margin: 0;
    color: black;
}
#endOfMessages { 
    font-size: 10px;
    background-color: aqua;
    justify-content: center;

}
.chatBox { 
    background-color: grey;
    max-width:800px;
}
a:visited {
    color: orange;
}
a {
    text-decoration: none;
}

.login {
    align-items: center;
    align-content: center;
    flex-flow: wrap;
    justify-content: center;
    position: relative;
    background-color: orange;
    display: flex;
    width: 200px;
    height: 12em;
}
.login div :nth-child(1n) {
    margin: .5em;
}

body {
    background-color: #262626;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
